################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/repos/Things/.vs/Things/v16
/repos/Things2 But Orginized/.vs/Things2 But Orginized/v16
/Things3D/.vs/Things3D/v16
